 body{
    font-family: 'DM Sans', sans-serif;
 }
 .container{
     max-width: 1070px;
    margin: 0 auto;
}

 .header{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
 }

 .header__flex, .footer__flex, .about{
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

.nav__li{
    display: inline-block;
    }

.nav__li:not(:first-of-type){
    margin-left: 49px;
}
    
.nav__link{
    font-weight: 700;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.468947px;
color: #696871;
text-decoration: none;
}

.nav__link:hover{
    color: black;
    transition: 300ms;
}

.button{
    width: 212px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button__orange{
    background: #FF7143;
}

.button__orange:hover{
    background: #f67d55;
    transition: 500ms;
}

.about{

    margin: 104px auto 85px;
}
.adout__title{
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}

.about__text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;
}

.button__violet{
    background: #5454D4;
}
.button__violet:hover{
    background: #6f6fd1;
}

.button__transporent{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    border-radius: 10px;
    margin-left: 35px;  
}
.button__transporent:hover{
    background: #efeff5; 
}

.footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 55.17px 198.36px 54.94px 55.17px;
 }
 .nav__li2{
    display: inline-block;
    
    }
    .nav__li2:not(:first-of-type){
        margin-left: 182.45px;
    }
    .nav__link2{
        font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
    }
    .nav__link:hover{
        color: black;
        transition: 300ms;
    }

    